@page "/schedule"

@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor

<h1>Raspored pranja</h1>
<br />

<SfSchedule TValue=AppointmentData CurrentView="View.Month" StartHour="08:00" EndHour="20:00">
    <ScheduleEventSettings DataSource="@DataSource">
    <ScheduleField>
        <FieldSubject Title="Opis"></FieldSubject>
        <FieldStartTime Title="Početak"></FieldStartTime>
        <FieldEndTime Title="Kraj"></FieldEndTime>
        <FieldLocation Default=""></FieldLocation>
    </ScheduleField>
    </ScheduleEventSettings>
    <ScheduleViews>
        <ScheduleView Option="View.Day"></ScheduleView>
        <ScheduleView Option="View.Week"></ScheduleView>
        <ScheduleView Option="View.Month"></ScheduleView>
        <ScheduleView Option="View.Agenda"></ScheduleView>
    </ScheduleViews>
    
</SfSchedule>

@code {

    List<AppointmentData> DataSource = new List<AppointmentData>
    {
        new AppointmentData { Id = 1, Subject = "Paris", StartTime = new DateTime(2022, 1, 18, 10, 0, 0) , EndTime = new DateTime(2022, 1, 18, 12, 30, 0),
         Description = "Summer vacation planned for outstation." }
    };

    public class AppointmentData
    {
        public int Id { get; set; }
        public string Subject { get; set; }
        public DateTime StartTime { get; set; }
        public DateTime EndTime { get; set; }
        public string Description { get; set; }
        public bool IsAllDay { get; set; }
        public string RecurrenceRule { get; set; }
        public string RecurrenceException { get; set; }
        public Nullable<int> RecurrenceID { get; set; }
    }
}
